// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "sunxi-common-regulators.dtsi"

/ {
	model = "Lichee Pi Nano";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		red_led {
			label = "red_led";
			linux,default-trigger = "nand-disk";
			default-state = "off";
			gpios = <&pio 4 9 GPIO_ACTIVE_LOW>; /* PE9 */
		};

		green_led {
			label = "green_led";
			gpios = <&pio 4 10 GPIO_ACTIVE_LOW>; /* PE10 */
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};

	// beeper {
	// 	compatible = "pwm-beeper";
	// 	pwms = <&pwm 0 400000 399999>;
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&pwm1_pin>;
	// };

	reg_vcc3v0: vcc3v0 {
        compatible = "regulator-fixed";
        regulator-name = "vcc3v0";
        regulator-min-microvolt = <3000000>;
        regulator-max-microvolt = <3000000>;
    };

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&codec {
    allwinner,audio-routing =
    "Headphone", "HP",
    "Headphone", "HPCOM",
    "MIC", "Mic";
    status = "okay";
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1_pin>;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 4 2 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pe_pins>;
	status = "okay";
};

&i2c0 {
    pinctrl-0 = <&i2c0_pins>;
    pinctrl-names = "default";
	clock-frequency = <100000>;
    status = "okay";

	pcf8563: pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
    };

	ft5426: touchscreen@38 { //38为设备地址（16进制）
        compatible = "edt,edt-ft5406"; //兼容性配置
        reg = <0x38>;//设备地址
        interrupt-parent = <&pio>;//gpio中断
        interrupts = <4 3 IRQ_TYPE_EDGE_FALLING>; //PE5为中断引脚，下降沿触发
        pinctrl-names = "default";
		pinctrl-0 = <&ts_int_pin>; //中断pinctrl
		touchscreen-size-x = <1024>; //屏幕分辨率
		touchscreen-size-y = <600>;
		touchscreen-swapped-x-y; //可选项，屏幕和触摸屏坐标反了则使能此项
    };

};

&i2c1 {
    pinctrl-0 = <&i2c1_pins>;
    pinctrl-names = "default";
    status = "disabled";
};

&i2c2 {
    pinctrl-0 = <&i2c2_pins>;
    pinctrl-names = "default";
	clock-frequency = <1000000>;
    status = "okay";
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "host";  // otg / host / peripheral
	status = "okay";
};

&usbphy {
	//usb0_id_det-gpio = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
	status = "okay";
};

&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";

	button@200 {
			label = "left";
			linux,code = <132>;
			channel = <0>;
			voltage = <0>;
	};

	button@400 {
			label = "middle";
			linux,code = <133>;
			channel = <0>;
			voltage = <603174>;
	};

	button@600 {
			label = "right";
			linux,code = <134>;
			channel = <0>;
			voltage = <1047619>;
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>;
	status = "okay";

	flash: w25q128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@100000 {
				label = "dtb";
				reg = <0x100000 0x10000>;
				read-only;
			};

			partition@110000 {
				label = "kernel";
				reg = <0x110000 0x400000>;
				read-only;
			};

			partition@520000 {
				label = "rootfs";
				reg = <0x510000 0xAF0000>;
			};
		};
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins_a>;
	status = "okay";

	esp8089@0 {
		status = "okay";
		compatible = "boss,esp8089";
		spi-cpol;
		spi-cpha;
		reg = <0>;
		spi-max-frequency = <30000000>;
		reset= <132>; //PE4
		interrupt= <133>; //PE5
		debug= <0>;
	};
};

