// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2018 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "suniv-f1c100s.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "sunxi-common-regulators.dtsi"

/ {
	model = "Lichee Pi Nano";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/*keys {
		compatible = "gpio-keys";
		
		key1{
			label = "left-button";
			linux,code = <114>;
			gpios = <&pio 3 12 GPIO_ACTIVE_LOW>;	// PD12
			debounce-interval = <10>;
		};

		key2{
			label = "right-button";
			linux,code = <115>;
			gpios = <&pio 3 13 GPIO_ACTIVE_LOW>;	// PD13
			debounce-interval = <10>;
		};
	};*/

	leds {
		compatible = "gpio-leds";

		red_led {
			label = "red_led";
			linux,default-trigger = "nand-disk";
			default-state = "off";
			gpios = <&pio 4 9 GPIO_ACTIVE_LOW>; /* PE9 */
		};

		green_led {
			label = "green_led";
			gpios = <&pio 4 10 GPIO_ACTIVE_LOW>; /* PE10 */
			default-state = "off";
			linux,default-trigger = "mmc0";
		};

		white_led {
			label = "white_led";
			gpios = <&pio 3 2 GPIO_ACTIVE_LOW>; /* PD2 */
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
	};

	/*pcm5102a: pcm510x {
		compatible = "ti,pcm5102a";
		pcm510x,format = "i2s";
		status = "okay";
		#sound-dai-cells = <0>;
	};*/

	sound_i2s {
		compatible = "simple-audio-card";
		simple-audio-card,name = "I2S-master";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			// sound-dai = <&tas5825m>;
			// sound-dai = <&pcm5102a>;
			sound-dai = <&pcm5122>;
		};
	};

	reg_vcc3v0: vcc3v0 {
        compatible = "regulator-fixed";
        regulator-name = "vcc3v0";
        regulator-min-microvolt = <3000000>;
        regulator-max-microvolt = <3000000>;
    };

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&i2s0 {
	sound-dai = <&pcm5122>;
	// sound-dai = <&pcm5102a>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_pins>;
	status = "okay";
};

&codec {
    allwinner,audio-routing =
    "Headphone", "HP",
    "Headphone", "HPCOM",
	"LINEIN", "Line In",
	"FMINL", "Left FM In",
	"FMINR", "Right FM In",
    "MIC", "Mic";
    status = "okay";
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1_pin>;
	status = "disabled";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 4 2 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&i2c0 {
    pinctrl-0 = <&i2c0_pins>;
    pinctrl-names = "default";
	clock-frequency = <100000>;
    status = "okay";

	/*tas5825m: tas5825m@4d {
		compatible = "ti,tas5825m";
		reg = <0x4d>;
		status = "okay";
		#sound-dai-cells = <0>;
		clocks = <&ccu CLK_I2S>;
	};*/

	pcm5122: pcm5122@4c {
		compatible = "ti,pcm5122";
		reg = <0x4c>;
		clocks = <&ccu CLK_I2S>;
		status = "okay";
		#sound-dai-cells = <0>;
		AVDD-supply = <&reg_vcc3v3>;
		DVDD-supply = <&reg_vcc3v3>;
		CPVDD-supply = <&reg_vcc3v3>;
	};

	/*sabre9018q2c@48 {
		#sound-dai-cells = <0>;
		compatible = "ess,es9018k2m";
		reg = <0x48>;
		status = "okay";
	};*/

};

&i2c1 {
    pinctrl-0 = <&i2c1_pins>;
    pinctrl-names = "default";
    status = "okay";
};

&i2c2 {
    pinctrl-0 = <&i2c2_pins>;
    pinctrl-names = "default";
	clock-frequency = <1000000>;
    status = "okay";
};

&otg_sram {
	status = "okay";
};

&usb_otg {
	dr_mode = "host";  // otg / host / peripheral
	status = "okay";
};

&usbphy {
	//usb0_id_det-gpio = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
	status = "okay";
};

&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";

	button@200 {
			label = "left";
			linux,code = <132>;
			channel = <0>;
			voltage = <0>;
	};

	button@400 {
			label = "middle";
			linux,code = <133>;
			channel = <0>;
			voltage = <603174>;
	};

	button@600 {
			label = "right";
			linux,code = <134>;
			channel = <0>;
			voltage = <1047619>;
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>;
	status = "okay";
	spi-max-frequency = <30000000>;

	flash: w25q128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x46000>;
				read-only;
			};

			partition@46000 {
				label = "dtb";
				reg = <0x46000 0x48C00>;
				read-only;
			};

			partition@48C00 {
				label = "kernel";
				reg = <0x48C00 0x22F400>;
				read-only;
			};

			partition@22F400 {
				label = "rootfs";
				reg = <0x22F400 0x1000000>;
			};
		};
	};
};


